/* ----------------------------------------------------------------
                          Responsive
-----------------------------------------------------------------*/

/* -------------------------------------------------------
                     phone & tablet
-------------------------------------------------------- */
@media (max-width: 425px) {

.header .caption h1 {
  margin-top: 10%;
}
.header .caption .button_btn{
margin-top: 10px;

}
}
@media (max-width: 767px) {

.header .caption h1 {
  font-size: 36px;
  font-weight: 300;
}
.header .caption h5{
  font-size: 18px
}
    .testimonial .item-testimonial .box-text {
      padding-left: 15px;
      text-align: center;
      margin: auto;
    }

    .testimonial .item-testimonial .box-text .icon-box {
      display: none;
    }

    .team .part-photo, .team .content-info , .team .item-photo {
      padding: 5px 15px;
    }

    .testimonial .content {
      padding: 100px 15px 90px 15px;
    }

  
    .skills .box-content {
      padding: 50px 15px 20px;
    }
    
    .princing_section{
      padding: 0px 30px;
    }

    .pricing .content {
      padding: 100px 15px 70px 15px;
    }
    .about_section #left-box{
      display: none;
    }
}

@media (max-width: 991px){
  nav.navbar.navbar-expand-lg{
    z-index: 99999;
    background:rgba(0,0,0,0.9);
  }
.navbar-nav .nav-item {
   text-align: center;
  }
  nav .nav-fixed{
    display: block;
    height:100vh;
    position: absolute;
    background:#fff;
  }
  .navbar .nav-item a {
    color: #fff;
  }
  .navbar .nav-item a:hover {
    color: #1ce489
  }

  header .header-social ul li a{
    font-size:20px;
  }
  .skills .content {
    padding-left: 0;
    padding-right: 0;
  }


  .skills {
    background-color: #f8f8f8 !important;
    background-image: none !important;
  }

   .skills .box-content {
    padding: 0;
    background-color: inherit;
  }
  .portfolio .gallery .extra-items{
    display: none !important;
  }
 

  .pricing .pricing-table {
    border: 1px solid #ffffff;
  }

  .pricing-bg {
    display: none;
  }

  .pricing{
    margin-bottom: 0 !important;
  }
 .about_section .left-box{
  width: 60%;

}

}

@media (max-width: 1024px) {


  
}
